$space-title: 125px;
$title-color: #4DA4E0;

.page-title{
  font-family: chalkduster;
  color: $title-color;
}
.weatherButt{
  border-radius: 25px;
}
.mainBody{
  font-family: chalkduster;
}
.weatherSearch{
  font-family: chalkduster;
  position: relative;
  top: $space-title;
  bottom: $space-title;
}
input[type=search]{
  box-shadow: none;
}
